<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Second workshop</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
</head>
<body>
<div class="main">
    <div class="skills-button">Skills</div>
    <ul class="progressbar-list">
        <li class="progressbar-item">
            <div class="item-title">Communication</div>
        </li>
        <li class="progressbar-item">
            <div class="item-title">Creativity</div>
        </li>
        <li class="progressbar-item">
            <div class="item-title">Teamwork</div>
        </li>
        <li class="progressbar-item">
            <div class="item-title">Organization</div>
        </li>
        <li class="progressbar-item">
            <div class="item-title">Leadership</div>
        </li>
        <li class="progressbar-item">
            <div class="item-title">Teamplayer</div>
        </li>
    </ul>
</div>
</body>
</html>