<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>7bits frontend courses workshops</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
<div class="header">
    <h1 class="header__title">John Watson</h1>
    <h2 class="header__subtitle">Graphic Designer</h2>
    <ul class="header__contacts contacts">
        <li class="contacts__item">
            <a class="contacts__link" href="tel:+78005553535">PhoneNumber</a>
        </li>
        <li class="contacts__item">
            <a class="contacts__link" href="mailto:watson@spam.com">watson@spam.com</a>
        </li>
        <li class="contacts__item">
            <a class="contacts__link" href="www.yoururl.to">www.yoururl.to</a>
        </li>
    </ul>
</div>
<div class="main">
    <div class="main__left">
        <img class="main__avatar" src="../images/avatar.png" />
        <div class="personal-info">
            <h3 class="personal-info__title">About me</h3>
            <div class="personal-info__content">
                <p class="personal-info__text">
                    I’m <span class="personal-info__text-bold">John Watson</span> Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud.
                </p>
            </div>
        </div>
    </div>

    <div class="main__right">
        <div class="experience-info">
            <h3 class="experience-info__title">Experience</h3>
            <ul class="experience-info__list list">
                <li class="experience__item">
                    <div class="experience__item-dates">01.2011 - 08.2017</div>
                    <div class="experience__item-about">Junior Graphic Designer</div>
                    <div class="experience__item-company-credits">Company |
                        <a class="experience__item-company-link" href="www.company.com">www.company.com</a>
                    </div>
                    <p class="experience__item-description">
                        <span class="experience__item-description-bold">Description.</span> If successful in the tests,
                        those who are considered by a hiring service to be suitable
                        to their requirements will be invited.
                    </p>
                </li>

                <li class="experience__item">
                    <div class="experience__item-dates">01.2011 - 08.2017</div>
                    <div class="experience__item-about">Junior Graphic Designer</div>
                    <div class="experience__item-company-credits">Company |
                        <a class="experience__item-company-link" href="www.company.com">www.company.com</a>
                    </div>
                    <p class="experience__item-description">
                        <span class="experience__item-description-bold">Description.</span> If successful in the tests,
                        those who are considered by a hiring service to be suitable
                        to their requirements will be invited.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="footer"></div>
</body>
</html>