<header class="header">
    <div class="header-title">Minimø</div>
    <ul class="header-menu-links">
        <li class="header-link-item">
            <a class="header-link-title">Lifestyle</a>
        </li>
        <li class="header-link-item">
            <a class="header-link-title">Photodiary</a>
        </li>
        <li class="header-link-item">
            <a class="header-link-title">Music</a>
        </li>
        <li class="header-link-item">
            <a class="header-link-title">Travel</a>
        </li>
    </ul>
    <!-- <img class="header-cover-image" src="../images/cover.png" /> -->
</header>