body {
    margin: 0 auto;
    width: 815px;
    height: 990px;
}

.main {
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
}

.skills-button {
    width: 200px;
    height: 75px;
    padding-top: 25px;
    padding-left: 42px;
    display: inline-block;
    background-color: #e8c734;
    font-size: 42px;
    font-weight: bold;
    color: #434244;
}

.progressbar-list {
    width: 620px;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 31px;
    color: #1a1a1a;
}

.progressbar-item {
    margin-top: 20px;
}

.progressbar-block {
    height: 30px;
    margin-top: 20px;
    border: 2px solid #e7e7e8;
    position: relative;
}

.progressbar-block::after {
    content: '';
    position: absolute;
    height: 34px;
    border-top: 34px solid #bfc0c1;
    margin-top: -2px;
    margin-left: -1px;
}

.creativity-progress::after, .organization-progress::after, .teamplayer-progress::after {
    width: 85%;
}

.communication-progress::after, .teamwork-progress::after, .leadership-progress::after {
    width: 75%;
}