<article class="sidebar">
    <img class="sidebar-image" src="./images/sidebar.png"/>
    <h3 class="sidebar-title">About me</h3>
    <p class="sidebar-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.</p>
    <h3 class="top-posts-title">Top posts</h3>
    <ul class="top-posts-list">
        <li class="post-item">
            <h4 class="post-title"><span class="post-title-text">A day exploring the Alps</span></h4>
            <div class="post-comments">24 Comments</div>
        </li>
        <li class="post-item">
            <h4 class="post-title"><span class="post-title-text">American dream</span></h4>
            <div class="post-comments">19 Comments</div>
        </li>
        <li class="post-item">
            <h4 class="post-title"><span class="post-title-text">Cold winter days</span></h4>
            <div class="post-comments">15 Comments</div>
        </li>
    </ul>
</article>